body{
    background: url(./img/df6edd7aa988520a40f2ede003f35a58.jpg) no-repeat ;
    background-size: 1560px 683px;
}
.title,
.text{
    color: white;
    text-align: center;
    margin-top: 3rem;
}
.text{
    color: rgb(184, 97, 111);
}
.container{
    background-color: rgba(218, 2, 153, 0.2);
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 5px;
}
.frame{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.iput-box{
    width: 80%;
    height: 45px;
    border-radius: 5px;
    padding-left: 4px; 
}
